/* Estilos que modifican los estilos de Foundation */
body {
	font-family: sans-serif !important;
	/*font-size: 90% !important;*/
}

th {
	text-align: left !important;
}

h1, h2, h3, h4, h5, h6,
a {
	color: inherit;
	margin-bottom: 1.3em;
}

a {
	text-decoration: underline;
}

a:hover {
	color: grey;
}

.row {
	max-width: none;	
}

input, select {
	height: auto !important;
}

.filtro-input {
	margin: 1em 0em !important;
}

input[type="checkbox"] {margin-right: 0.6em;}

.button {
	background: #00A54F !important;
	min-width: 5em !important;
	width: auto !important;
	max-width: 10em !important;
	padding: 0.5em !important;
	text-align: center !important;
	/*border-radius: 7px;*/
	box-shadow: 0 0 1px black;
	font-size: 0.8em;
	margin: 0 !important;
	margin-right: 1em !important;
	border: 0 !important;
}

.button:active {
	background: #008941 !important;
	box-shadow: 0 0 1px black inset !important;
}

form {
	margin: 0 !important;
}
form, form table td, form table th,
form table input, form table select {
	font-size: 0.9em !important;
}
form table input, form table select {
	padding: 0.5em !important;
}

table {
	width: 100% !important;
	border-spacing: 0 !important;
	/*border: 1px solid gray;*/
}

td, th {
	background: inherit !important; 
	border: 0 !important;
}

.top-bar.expanded a {
	color: white !important;
}

.top-bar-section ul li span {
	margin-left: 0.5em !important;
}

.top-bar-section ul a {
	text-decoration: none !important;
}

.top-bar a:hover,
.top-bar a:active {
	/*text-decoration: underline !important;*/
}

.top-bar-section ul li {
	margin: 0 !important;
	padding: 1em !important;
}

@media only screen and (min-width: 600px) {
	form input[type="text"],
	form input[type="number"],
	form input[type="search"],
	form input[type="password"],
	form input[type="email"],
	form select {
		width: 100% !important;
		/*min-width: 18em !important;*/
		display: inline !important;
		margin: 0.5em 0!important;
		margin-right: 1em !important;
	}

	.button {
		/*min-width: 8em !important;*/
		width: auto !important;
	}
}

/* Estilos propios de todas las páginas de SICADA */
.header {
	background: #00A54F;
	color: white;
}

.header img {
	height: 5em;
	padding: 0.3em 0;
}

.header .sicada-titulo {
	padding: 0.2em 0;
}

.sicada-topper {
	/*background: #EEE;*/
	color: black;
	padding: 0.5em 0;
	border-bottom: 1px solid #EEEEEE;
	font-size: 0.8em;
}

.sicada-menu {
	background: white;
	padding: 0;
	overflow: hidden;
	width: 100%;
	color: white;
}

.sicada-menu,
.top-bar.expanded .title-area,
.top-bar .title-area,
.top-bar-section ul,
.top-bar .title-area li a,
.top-bar ul.left {
	background: #323232 !important;
	color: white !important;
}


.sicada-menu ul {
	margin: 0 auto;
	margin-top: -0.3em;
}

.sicada-menu a {
	text-decoration: none;
}

.sicada-menu ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.6em 1.4em;
	margin: -0.2em;
}

.sicada-menu ul li,
.top-bar-section ul li {
	transition: 0.3s;
}

.sicada-menu ul li span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;      
}

.sicada-menu ul li:hover,
.sicada-menu ul li.activo,
.top-bar-section ul li:hover,
.top-bar-section ul li.activo,
.top-bar-section ul a {
	background: white !important;
	color: black !important;
}

.sicada-menu ul li:active {
	box-shadow: 0 0 2px black inset;
}

.sicada-contenido {
	height: 100%;
	width: 100% !important;
	padding-bottom: 1em;
}

.seccion {
	margin: 0 1em 2em;
	border: 1px solid #888888;
}


.seccion .titulo {
	font-size: small;
	color: white;
	background: #00A54F;
	width: 100%;
	display: block;
	padding: 0.8em 1em;
	margin-bottom: -0.4em;
	/*text-align: center;*/
	text-transform: uppercase;
	/*border: 1px solid #EEE;*/
	/*border-bottom: 0;*/
}

.seccion.cerrada .titulo {
	background: #007739;
	/*border: 1px solid #CCC inset;*/
}

.seccion .cuerpo {
	margin-top: 0.3em;
	padding: 0.6em;
	background: #F9F9F9;
	/*border: 1px solid #CCC;*/
}

.seccion .acciones {
	text-align: left;
}
.seccion .acciones img{
	width: 1.8em;
	transition: 0.2s;
}
.seccion .acciones img:hover {
	outline: 1px solid;
}
.seccion .acciones img:active {
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-moz-transform: scale(0.9);
	outline: 1px solid;
}

.seccion .instrucciones {
	font-size: small;
	margin-bottom: 1em;
}

table {
	margin: 0 auto;
}

table > tr:nth-child(odd),
table > tr.encabezados {
	background: #EEE !important;
}

table > tr:nth-child(even) {
	background: white;
}	

.footer {
	background: #00A54F;
	color: white;
	font-size: small;
	/*border-top: 1px solid black;*/
}

@media only screen and (min-width: 600px) {
	.header {
		/*border-bottom: 2px solid black;*/
	}

	.sicada-topper {
		/*border: 0;*/
	}

	.seccion .acciones {
		text-align: right;
	}

	.separador {
		margin-left: 15px; 
		display: inline !important;
	}
}

@media only screen and (min-width: 1150px) {
	.sicada-cuadrocontenido {
		padding: 0 2%;
	}
	.seccion:not(.inmovil) {
		width: 47%;
		/*display: inline-block;*/
		float: left;
		margin-top: 0 !important;
		text-align: left;
	}
	h3, h4 {
		text-align: left;
	}

	form input:not([type=checkbox], [type=submit]),
	form select {
		width: 100% !important;
	}
}

.mensaje-error {
	font-size: 0.9em;
	color: red;
	padding: 0.2em;
	margin-bottom: 0.3em !important;
}

.no-resultados span {
	margin: 1em; 
	display:block;
}

.no-resultados td {background: #FFF !important;}